


* {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
  font-weight: normal;
}

body {
  margin:-20px 0 0 0;
  padding:0;
}

.space {
  height: 40px;
}

.border {
  border-bottom: 0.5px solid #DEDEDE;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30;
}

.border2 {
  border-bottom: 0.5px solid #DEDEDE;
  width: 100%;
  padding-bottom: 30;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 23px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all  0.3s ease;
}

a:hover {
  color: #DEDEDE;
}


/* ヘッダー */

  .header {
    position: relative;
    height: 600px;
  }

  .header__bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("header1.jpg");
    background-attachment: fixed;
    transform: skewY(-6deg);
    transform-origin: top left;
    background-size: cover;
    box-sizing: border-box;
    opacity: 0.7;
  }

  .header .container {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: right;
    right: 5%;
  }

  .header .container h1 {
    text-shadow: #fff 3px 3px 3px;
  }


  /* 960px未満 */
  @media screen and (max-width: 959px) {
    .header {
      height: 500px;
    }

    .header .container img {
      width: 313px;
    }

    .header .container h1 {
      font-size: 25px;
    }

  }

  /* 560px未満 */
  @media screen and (max-width: 559px) {
    .header {
      height: 400px;
    }

    .header .container {
      position: absolute;
      width: 100%;
      text-align: center;
      right: 0;
    }

    .space {
      display: none;
    }

    .header .container img {
      width: 313px;
    }

    .header .container h1 {
      font-size: 20px;
    }

    .gaiyou_text {
      padding-top: 30px;
    }

  } 


/* 概要 */

.gaiyou {
  text-align: center;
}

.gaiyou .container {
  text-align: center;
  display: flex;
  margin: 0 10%;
  padding-bottom: 60px;
}

.gaiyou h1 {
  font-size: 23px;
}

.gaiyou_img img {
  width: 400px;
}

.gaiyou_text {
  padding: 0 10px;
}

/* 960px未満 */
@media screen and (max-width: 959px) {

  .gaiyou h1 {
    padding-top: 20px;
  }

  .gaiyou .container {
    text-align: center;
    display: block;
    margin: 0px;
    padding-top: 30px;
  }

  .gaiyou_text {
    padding: 10px 0px;
  }

}

/* 560px未満 */
@media screen and (max-width: 559px) {

  .gaiyou .container {
    text-align: center;
    display: block;
    margin: 0 10%;
  }

  .gaiyou_img img {
    width:300px;
  }
  
}


/* 画像 */

.product-image {
  position: relative;
  height: 450px;
  background-image: url("product-image.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.product-text {
  position: absolute;
  text-align: center;
  width: 500px;
  height: 500px;
  right: 2%;
  top: 30%;
  margin: 0px;
  padding: 60px;
  border-radius: 50%;
  background-color: #F4F8F9;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  opacity: 0.9;
}


  /* 960px未満 */
  @media screen and (max-width: 959px) {

    .product-image {
      background-position: center;
    }

    .product-text {
      width: 400px;
      height: 400px;
    }

    .product-text h1 {
      font-size: 23px;
    }

  }

  /* 560px未満 */
  @media screen and (max-width: 559px) {
    .product-image {
      background-position: center;
    }

    .product-text {
      width: 300px;
      height: 300px;
      right: 7%;
    }

  }



/* 注文の流れ */

.OrderFlow {
  text-align: center;
  height: auto;
  padding-top: 300px;
}

.OrderFlow .container {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.step {
  padding: 0px 10px;
  width: 30%;
  text-align: center;
}

.step h2 {
  display: inline-block;
  background: linear-gradient(transparent 70%, yellow 70%);
}

.step img {
  display: block;
  width: 200px;
  padding: 30px 0px;
}


/* 申込ボタン */

.application {
  
}


/* footer */

.footer {
  height: auto;
  background-color: #F4F8F9;
  padding: 0px 30px;
}

.footer .container {
  display: flex;
}

.footer img {
  width: 250px;
}

.footer_text {
  padding: 50px 10px;
}

.footer li {
  list-style: none;
  display: inline;
  padding: 12px 20px;
  font-size: 15px;
}


/* 960px未満 */
@media screen and (max-width: 959px) {

  .footer {
    height: auto;
    background-color: #F4F8F9;
    padding: 0px 20px 20px 20px;
  }

  .footer .container  {
    display: block;
    float:none;
  }

  .footer_text {
    padding: 0px 10px;
  }

  .footer ul {
    margin: 0;
    padding-left: 0;
  }


  .footer li {
    list-style: none;
    display: block;
    padding: 12px 0px;
    font-size: 15px;
  }

}